.grid {
  display: grid; // enables grid template
  grid-template-columns: 1fr;
  grid-template-rows: auto auto; // row is as big as the content contained
  gap: 40px;
  // max-width: 1000px; // prevents grid from over spreading on bigger screens
  width: min(100% - 40px, 1000px); // grid width 100% of viewport width with 20 px on each side but no bigger than 1000px 
  margin-inline: auto; //  left right = auto

  @media (min-width: 900px) { 
    grid-template-columns: 2fr 1fr; // first column is 2 times the size of the second column
    grid-template-rows: auto; 
  }

  &__main, &__sidebar {
    padding: 40px;
  }

  &__main {
    background-color: hsl(240, 81%, 27%);
  }

  &__sidebar{
    background-color: hsl(300, 91%, 22%);
  }
}