.grid {
  display: grid; // enables grid template
  grid-template-columns: 1fr;
  grid-template-rows: auto auto; // row is as big as the content contained
  gap: 40px;

  @media (min-width: 900px) { 
    grid-template-columns: 2fr 1fr; // first column is 2 times the size of the second column
  }

  &__main, &__sidebar {
    padding: 40px;
  }

  &__main {
    background-color: hsl(240, 81%, 27%);
  }

  &__sidebar{
    background-color: hsl(300, 91%, 22%);
  }
}